In [2]:
import hashlib
import requests
import datetime
import json
import pandas as pd
from pprint import pprint as pp

In [3]:
## Activity 2

In [4]:
import datetime
timestamp = datetime.datetime.now().strftime('%m/%d/%y %H:%M:%S')
pub_key = '944f5f070b59ac0017e57b673e5de6c9'
private_key='c21dd8423c54c39bafffae0e5ebcce864790fd46'

In [5]:
def hasg_params():
    """ Marvel API requires server side API calls to include 
    md5 hash of timestamp + public key + private key"""
    hash_md5=hashlib.md5()
    hash_md5.update((timestamp+private_key+pub_key).encode())
    hashed_params= hash_md5.hexdigest()
    return hashed_params

In [6]:
header={'response content type':'application/json'}
offsets = {0,100,200,300}

In [7]:

l=[]
for o in offsets:
    params={'ts':timestamp, 'apikey':pub_key, 'hash': hasg_params(), #'nameStartsWith':'hul',
         'offset':o, 'limit':100}
    res=requests.get('http://gateway.marvel.com/v1/public/characters', headers=header, params= params)
    res_json =res.json() ## to get result in json format
    
    for item in res_json['data']['results']:
        #setting default values:
        d={'id':0, 'name':'', 'comics':0, 'stories':0, 'events':0,'series':0}
        #setting actual values:
        d['id']= item['id']
        d['name']=item['name']
        d['comics']=item['comics']['available']
        d['stories']=item['stories']['available']
        d['events']=item['events']['available']
        d['series']=item['series']['available']
        l.append(d)
df=pd.DataFrame(l)

In [8]:
df

          id                        name  comics  stories  events  series
0    1011334                     3-D Man      12       21       1       3
1    1017100                A-Bomb (HAS)       4        7       0       2
2    1009144                      A.I.M.      51       54       0      34
3    1010699                 Aaron Stack      14       27       0       3
4    1009146  Abomination (Emil Blonsky)      55       65       1      27
..       ...                         ...     ...      ...     ...     ...
395  1011333                Dakota North      20       21       1       6
396  1009259              Damage Control      18       18       0       7
397  1009453               Dani Moonstar      68       87       6      20
398  1010776                  Danny Rand       1        1       0       1
399  1009262                   Daredevil    1206     1911      17     302

[400 rows x 6 columns]

In [9]:
## Activity 3
from contextlib import nullcontext


def fun_create_df(*args):
    try:
        if len(args)==4:
            print("sufficient arguments passed, great!")
            l=[]
            timestamp=args[0]
            pub_key=args[1]
            hash=args[2]
            name_start_with=args[3]
            for o in offsets:
                params={'ts':timestamp, 'apikey':pub_key, 'hash': hash, 'nameStartsWith':name_start_with,
                'offset':o, 'limit':100}
                res=requests.get('http://gateway.marvel.com/v1/public/characters', headers=header, params= params)
                res_json =res.json() ## to get result in json format
    
                for item in res_json['data']['results']:
                     #setting default values:
                    d={'id':0, 'name':'', 'comics':0, 'stories':0, 'events':0,'series':0}
                    #setting actual values:
                    d['id']= item['id']
                    d['name']=item['name']
                    d['comics']=item['comics']['available']
                    d['stories']=item['stories']['available']
                    d['events']=item['events']['available']
                    d['series']=item['series']['available']
                    l.append(d)
            df=pd.DataFrame(l)
            return df
        else:
            print("Error!!!! Not enough arguments passed!")
    except TypeError as ays:
        print("arguments missing")

In [10]:
dataframe_final= fun_create_df( pub_key, hasg_params(),'hul')
dataframe_final

Error!!!! Not enough arguments passed!

In [11]:
## Activity 4
def filter_fun( df, col,condition,value):
    if condition=='>':
        dataframe2= df[df[col]> value]
    elif condition =='<':
        dataframe2= df[df[col]< value]
    elif condition =='=':
        dataframe2= df[df[col]== value]

    return dataframe2

df2=filter_fun(df,'events','<',20)
print(df2)

          id                        name  comics  stories  events  series
0    1011334                     3-D Man      12       21       1       3
1    1017100                A-Bomb (HAS)       4        7       0       2
2    1009144                      A.I.M.      51       54       0      34
3    1010699                 Aaron Stack      14       27       0       3
4    1009146  Abomination (Emil Blonsky)      55       65       1      27
..       ...                         ...     ...      ...     ...     ...
395  1011333                Dakota North      20       21       1       6
396  1009259              Damage Control      18       18       0       7
397  1009453               Dani Moonstar      68       87       6      20
398  1010776                  Danny Rand       1        1       0       1
399  1009262                   Daredevil    1206     1911      17     302

[393 rows x 6 columns]

In [12]:
## Activity 5