In [19]:
import hashlib
import requests
import datetime
import json
import pandas as pd
from pprint import pprint as pp

In [20]:
## Activity 2

In [21]:
import datetime
timestamp = 1
# pub_key = <specify your public keys>
# private_key= <specify your private keys>

In [22]:
def hasg_params():
    """ Marvel API requires server side API calls to include 
    md5 hash of timestamp + public key + private key"""
    hash_md5=hashlib.md5()
    hash_md5.update((str(timestamp)+private_key+pub_key).encode())
    hashed_params= hash_md5.hexdigest()
    return hashed_params

In [23]:
print(hasg_params())

083b373124f49bce25911a1a97616b25

In [24]:
header={'response content type':'application/json'}
offsets = {0,100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400}

In [25]:

l=[]
for o in offsets:
    params={'ts':timestamp, 'apikey':pub_key, 'hash': hasg_params(), #'nameStartsWith':'hul',
         'offset':o, 'limit':100}
    res=requests.get('http://gateway.marvel.com/v1/public/characters', headers=header, params= params)
    res_json =res.json() ## to get result in json format
    
    for item in res_json['data']['results']:
        #setting default values:
        d={'id':0, 'name':'', 'comics':0, 'stories':0, 'events':0,'series':0}
        #setting actual values:
        d['id']= item['id']
        d['name']=item['name']
        d['comics']=item['comics']['available']
        d['stories']=item['stories']['available']
        d['events']=item['events']['available']
        d['series']=item['series']['available']
        l.append(d)
df=pd.DataFrame(l)

In [26]:
df

           id                        name  comics  stories  events  series
0     1011334                     3-D Man      12       21       1       3
1     1017100                A-Bomb (HAS)       4        7       0       2
2     1009144                      A.I.M.      51       54       0      34
3     1010699                 Aaron Stack      14       27       0       3
4     1009146  Abomination (Emil Blonsky)      55       65       1      27
...       ...                         ...     ...      ...     ...     ...
1495  1011243                    Mandrill       1        1       1       1
1496  1009422                    Mandroid       2        1       0       2
1497  1009423                       Manta       9        5       1       7
1498  1011026                      Mantis      52       58       4      15
1499  1009424                   Marauders      22       25       2      15

[1500 rows x 6 columns]

In [27]:
## Activity 3
from contextlib import nullcontext


def fun_create_df(*args):
    try:
        if len(args)==4:
            print("sufficient arguments passed, great!")
            l=[]
            timestamp=args[0]
            pub_key=args[1]
            hash=args[2]
            name_start_with=args[3]
            for o in offsets:
                params={'ts':timestamp, 'apikey':pub_key, 'hash': hash, 'nameStartsWith':name_start_with,
                'offset':o, 'limit':100}
                res=requests.get('http://gateway.marvel.com/v1/public/characters', headers=header, params= params)
                res_json =res.json() ## to get result in json format
                for item in res_json['data']['results']:
                     #setting default values:
                    d={'id':0, 'name':'', 'comics':0, 'stories':0, 'events':0,'series':0}
                    #setting actual values:
                    d['id']= item['id']
                    d['name']=item['name']
                    d['comics']=item['comics']['available']
                    d['stories']=item['stories']['available']
                    d['events']=item['events']['available']
                    d['series']=item['series']['available']
                    l.append(d)
            df=pd.DataFrame(l)
            return df
        else:
            print("Error!!!! Not enough arguments passed!")
    except TypeError as ays:
        print("arguments missing")

In [28]:
dataframe_final= fun_create_df( pub_key, hasg_params(),'hul')
dataframe_final

Error!!!! Not enough arguments passed!

In [29]:
## Activity 4
def filter_fun( df, col,condition,value):
    if col == 'name':
        condition ='start_with'
        length=len(value)
        return(df[df.name.str[:length]==value])
    else:
        if condition=='>':
            dataframe2= df[df[col]> value]
        elif condition =='<':
            dataframe2= df[df[col]< value]
        elif condition =='=':
            dataframe2= df[df[col]== value]
        else:
            print('Invalid condition')

    return dataframe2

df2=filter_fun(df,'events','<',20)
print(df2)

           id                        name  comics  stories  events  series
0     1011334                     3-D Man      12       21       1       3
1     1017100                A-Bomb (HAS)       4        7       0       2
2     1009144                      A.I.M.      51       54       0      34
3     1010699                 Aaron Stack      14       27       0       3
4     1009146  Abomination (Emil Blonsky)      55       65       1      27
...       ...                         ...     ...      ...     ...     ...
1495  1011243                    Mandrill       1        1       1       1
1496  1009422                    Mandroid       2        1       0       2
1497  1009423                       Manta       9        5       1       7
1498  1011026                      Mantis      52       58       4      15
1499  1009424                   Marauders      22       25       2      15

[1479 rows x 6 columns]